html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    text-transform: uppercase;

    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(50%);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    transition: background-color .3s, color .3s;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #ffffff;
    border: none;
}

.button:focus {
    outline: none;
}

.button:active {
    color: rgba(255, 255, 255, .3);
}

.button--brown {
    background-color: #766357;
}

.button--brown:hover,
.button--brown:focus {
    background-color: #604e43;
}

.button--brown:active {
    background-color: #503e33;
}

.button--blue {
    background-color: #81b3d2;
}

.button--blue:hover,
.button--blue:focus {
    background-color: #669ec0;
}

.button--blue:active {
    background-color: #5496bd;
}

.button--white:hover,
.button--white:focus,
.button--white:active {
    color: #000000;
    background-color: #ffffff;
}

/* Header */

.header__navigation {
    position: relative;
}

.header__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 69px);

    width: 138px;
    height: 70px;
    
    background: url('../img/logo-sedona.svg') no-repeat center;
    background-size: 138px 70px;
}

.header__menu {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 0;
    padding-left: 0;

    list-style: none;

}

.header__menuItem {
    width: 20%;

    text-align: center;
}

.header__menuItem:nth-child(3) {
    margin-left: auto;
}

.header__menuLink {
    font-weight: 700;
    line-height: 26px;

    display: block;

    padding-top: 15px;
    padding-bottom: 15px;

    transition: color .3s;

    color: #000000;
}

.header__menuLink:hover,
.header__menuLink:focus {
    color: #81b3d2;
}

.header__menuLink:focus {
    outline: none;
}

.header__menuLink:active {
    color: rgba(0, 0, 0, .3);
}

.header__menuLink--active {
    color: #766357;
}

/* Main */

/* Banner */

.banner {
    background-color: #81b3d2;
}

.banner__img {
    display: block;
}

/* Advantages */

.advantages {
    padding-top: 60px;
}

.advantages__heading {
    max-width: 490px;
    margin: 0 auto 55px;

    text-align: center;
}

.advantages__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 30px;
}

.advantages__subtitle {
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 0;

    color: #333333;
}

.advantages__list {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

    text-align: center;

    flex-wrap: wrap;
}

.advantages__item {
    display: flex;

    flex-basis: calc(100% / 3);
    flex-wrap: wrap;
}

.advantages__item--wide {
    flex-basis: 100%;
}

.advantages__item--reverse {
    flex-direction: row-reverse;
}

.advantages__item--wide .advantages__card {
    flex-basis: calc(100% - 800px);
}

.advantages__card {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 50px;
    padding-bottom: 55px;

    background-color: #eeeeee;

    justify-content: center;
}

.advantages__card--invert {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages__caption {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
}

.advantages__card--invert .advantages__caption {
    color: inherit;
}

.advantages__number {
    margin-bottom: 20px;
}

.advantages__text {
    line-height: 21px;

    margin-top: 0;
    margin-bottom: 0;
}

.advantages__number,
.advantages__text {
    color: inherit;
}

.advantages__img {
    flex-basis: 800px;
}

.advantages__additional {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

    text-align: center;

    flex-basis: 100%;
}

.advantages__additionalItem {
    display: flex;
    flex-direction: column;

    padding-top: 165px;
    padding-bottom: 85px;

    flex-basis: calc(100% / 3);
    justify-content: center;
}

/* Search hotel */

.searchHotel {
    padding-top: 55px;

    text-align: center;
}

.searchHotel__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    display: block;
}

.searchHotel__text {
    line-height: 24px;

    margin-top: 30px;
    margin-bottom: 50px;

    color: #333333;
}

.searchHotel__button {
    font-size: 21px;
    line-height: 26px;

    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Search hotel form */

.searchHotelForm {
    width: 568px;
    margin: 0 auto;
    padding: 55px;

    box-shadow: 0 7px 15px rgba(0, 1, 1, .15);}

.searchHotelForm__row {
    display: flex;

    margin-bottom: 30px;

    align-items: center;
    justify-content: space-between;
}

.searchHotelForm__label {
    font-weight: 700;
    line-height: 26px;
}

.searchHotelForm__input,
.searchHotelForm__number {
    height: 38px;

    transition: background-color .3s, border-color .3s;

    border: 2px solid transparent;
    background-color: #f2f2f2;
}

.searchHotelForm__input--date {
    transition: background-image .3s;

    background-image: url('../img/calendar-icon.svg');
    background-repeat: no-repeat;
    background-position: 312px center;
}

.searchHotelForm__input--date:hover {
    background-image: url("../img/calendar-hover-icon.svg");
}

.searchHotelForm__input--date:focus {
    background-image: url("../img/calendar-focus-icon.svg");
}

.searchHotelForm__input {
    width: 346px;
    padding-right: 12px;
    padding-left: 12px;
}

.searchHotelForm__number {
    width: 38px;
    margin-right: 1px;
    margin-left: 1px;

    text-align: center;
}

.searchHotelForm__input:hover,
.searchHotelForm__number:hover {
    background-color: #ebebeb;
}

.searchHotelForm__input:focus,
.searchHotelForm__number:focus {
    border-color: #e5e5e5;
    outline: none;
    background-color: #ffffff;
}

.searchHotelForm__input::-webkit-input-placeholder,
.searchHotelForm__number::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000000;
}

.searchHotelForm__input:-ms-input-placeholder,
.searchHotelForm__number:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000000;
}

.searchHotelForm__input::-ms-input-placeholder,
.searchHotelForm__number::-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000000;
}

.searchHotelForm__input::placeholder,
.searchHotelForm__number::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000000;
}

.searchHotelForm__column {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;

    align-items: center;
    justify-content: space-between;
}

.searchHotelForm__column:first-child {
    flex-basis: 226px;
}

.searchHotelForm__column:last-child {
    flex-basis: 179px;
}

.searchHotelForm__box {
    display: flex;

    justify-content: center;
    align-items: center;
}

.searchHotelForm__button {
    width: 38px;
    height: 38px;

    border: none;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;

    appearance: none;
    transition: background-image .3s;
}

.searchHotelForm__button:focus {
    outline: none;
}

.searchHotelForm__button--minus {
    background-image: url('../img/minus-icon.svg');
}

.searchHotelForm__button--minus:hover,
.searchHotelForm__button--minus:focus {
    background-image: url("../img/minus-hover-icon.svg");
}

.searchHotelForm__button--minus:active {
    background-image: url("../img/minus-focus-icon.svg");
}

.searchHotelForm__button--plus {
    background-image: url('../img/plus-icon.svg');
}

.searchHotelForm__button--plus:hover,
.searchHotelForm__button--plus:focus {
    background-image: url("../img/plus-hover-icon.svg");
}

.searchHotelForm__button--plus:active {
    background-image: url("../img/plus-focus-icon.svg");
}

.searchHotelForm__submit {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;

    padding: 36px 100px 32px 120px;

    background-color: rgba(255, 255, 255, .9);
}

.footer__contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0;
}

.footer__contactsLink {
    transition: color .3s;

    color: #000000;
}

.footer__contactsLink:not(:last-child) {
    margin-bottom: 8px;
}

.footer__contactsLink:hover,
.footer__contactsLink:focus {
    color: #81b3d2;
}

.footer__contactsLink:active {
    color: rgba(0, 0, 0, .3);
}

.footer__socials {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;

    list-style: none;
}

.footer__socialsLink {
    position: relative;

    display: block;

    width: 46px;
    height: 48px;
    margin-right: 3px;
    margin-left: 3px;

    transition: background-color .3s;

    background-color: #81b3d2;
}

/* Сначала я сделала иконки через background-image для "a", но оказалось, что  при клике у иконки opacity 0.3, поэтому  я переделала через before */

.footer__socialsLink::before {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    content: '';
    transition: opacity .3s;
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
    background-position: center;
}

.footer__socialsLink--tw::before {
    width: 17px;
    height: 15px;

    background-image: url('../img/twitter-icon.svg');
    background-size: 17px 15px;
}

.footer__socialsLink--fb::before {
    width: 12px;
    height: 22px;

    background-image: url('../img/facebook-icon.svg');
    background-size: 12px 22px;
}

.footer__socialsLink--yt::before {
    width: 20px;
    height: 16px;

    background-image: url('../img/youtube-icon.svg');
    background-size: 20px 16px;
}

.footer__socialsLink:hover,
.footer__socialsLink:focus {
    background-color: #669ec0;
}

.footer__socialsLink:active {
    background-color: #5496bd;
}

.footer__socialsLink:active::before {
    opacity: .3;
}

.footer__devLink {
    line-height: 26px;

    display: flex;

    margin-left: auto;

    color: #000000;

    align-items: center;
}

.footer__devText {
    padding-right: 8px;
}

.footer__devPath {
    transition: fill .3s;
}

.footer__devLink:hover .footer__devPath,
.footer__devLink:focus .footer__devPath {
    fill: #81b3d2;
}

.footer__devLink:focus {
    outline: none;
}

.footer__devLink:active .footer__devPath {
    fill: #bdbbbc;
}

/* Page Inner */

/* Filters hotels */

.filtersHotels {
    padding: 25px 72px 30px;

    background: #4a769a url('../img/filter-background.jpg') no-repeat center;
    background-size: 1200px 220px;
}

.filtersHotels__form {
    display: flex;
}

.filtersHotels__fieldset {
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    border: none;
}

.filtersHotels__fieldset:first-child {
    margin-right: 115px;
}

.filtersHotels__fieldset:last-child {
    margin-left: auto;
}

.filtersHotels__legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    color: #ffffff;
}

.filtersHotels__list {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.filtersHotels__item:not(:last-child) {
    margin-bottom: 20px;
}

.filtersHotels__label {
    line-height: 21px;

    color: #ffffff;
}

.filtersHotels__sumShow {
    margin-top: 13px;
    margin-bottom: 13px;
    border: 2px solid #ffffff;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
}

.filtersHotels__sumShowWrapper {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtersHotels__sumShowWrapper:first-child {
    border-right: 2px solid #ffffff;
}

.filtersHotels__sumShowWrapper .filtersHotels__label {
    margin-right: 5px;
}

.filtersHotels__input {
    line-height: 21px;

    color: #ffffff;
    border: 0;
    outline: none;
    background-color: transparent;
}

.filtersHotels__input::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;

    color: #ffffff;
}

.filtersHotels__input:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;

    color: #ffffff;
}

.filtersHotels__input::-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;

    color: #ffffff;
}

.filtersHotels__input::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;

    color: #ffffff;
}

.filtersHotels__sumRange {
    display: flex;

    margin-bottom: 22px;
}

.filtersHotels__range {
    width: 100%;
}

.filtersHotels__submit {
    font-weight: 400;
    line-height: 21px;

    display: block;

    margin-right: auto;
    margin-left: auto;
    padding: 5px 32px;

    border: 2px solid #ffffff;
    background-color: transparent;
}


/* Sorting hotels */

.sortingHotels {
    display: flex;

    padding: 30px 72px;

    align-items: center;
}

.sortingHotels__amount {
    margin-right: 50px;
}

.sortingHotels__amount,
.sortingHotels__number {
    font-size: 21px;
    font-weight: 700;
}

.sortingHotels__title {
    font-size: 12px;
    line-height: 18px;

    margin-right: 40px;
}

.sortingHotels__options {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.sortingHotels__optionsItem:not(:last-child) {
    margin-right: 33px;
}

.sortingHotels__optionsName {
    font-size: 12px;
    line-height: 18px;

    transition: color .3s, border-bottom-color .3s;

    color: rgba(0, 0, 0, .3);
    border-bottom: 1px dotted #81b3d2;
}

.sortingHotels__optionsName:hover,
.sortingHotels__optionsName:focus,
.sortingHotels__optionsName--active {
    color: #81b3d2;
}

.sortingHotels__optionsName:active {
    color: #000000;
}

.sortingHotels__optionsName--active,
.sortingHotels__optionsName:active {
    border-bottom-color: transparent;
}

.sortingHotels__grade {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;

    list-style: none;

    align-items: center;
}

.sortingHotels__gradeItem:not(:last-child) {
    margin-right: 12px;
}

.sortingHotels__gradeArrow {
    /* Временно */
    display: block;

    min-width: 10px;
    min-height: 11px;

    background-color: lightgrey;
}

/* Search results */
.searchResults {
    padding-right: 72px;
    padding-left: 72px;
}

.searchResults__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.hotelCard {
    display: flex;

    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid #e5e5e5;

    align-items: center;
}

.hotelCard:first-child {
    border-top: 1px solid #e5e5e5;
}

.hotelCard__imgLink {
    margin-right: 30px;
}

.hotelCard__img {
    display: block;
}

.hotelCard__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 10px;}

.hotelCard__titleLink {
    transition: color .3s;

    color: #000000;
}

.hotelCard__titleLink:hover,
.hotelCard__titleLink:focus {
    color: #81b3d2;
}

.hotelCard__titleLink:active {
    color: rgba(0, 0, 0, .3);
}

.hotelCard__detail {
    display: flex;
}

.hotelCard__column {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0;

    align-items: flex-start;
    justify-content: flex-start;
}

.hotelCard__column:first-child {
    margin-right: 6px;
}

.hotelCard__type,
.hotelCard__price {
    line-height: 21px;

    margin-bottom: 10px;

    color: #333333;
}

.hotelCard__button {
    font-size: 14px;
    line-height: 21px;

    padding: 3px 17px;
}

.hotelCard__rating {
    display: flex;
    flex-direction: column;

    margin-left: auto;

    align-self: stretch;
}

.hotelCard__stars {
    display: flex;

    margin-top: 0;
    margin-bottom: auto;

    justify-content: flex-end;
}

.hotelCard__star {
    width: 18px;
    height: 17px;

    background: url('../img/star-icon.svg') no-repeat center;
    background-size: 18px 17px;
}

.hotelCard__star + .hotelCard__star {
    margin-left: 5px;
}

.hotelCard__value {
    line-height: 21px;

    margin-top: auto;
    margin-bottom: 0;
    padding: 3px 14px;

    color: #666666;
    background-color: #f2f2f2;
}
