html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    text-transform: uppercase;

    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    transition: background-color .3s, color .3s;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
}

.button:focus {
    outline: none;
}

.button:active {
    color: rgba(255, 255, 255, .3);
}

.button--brown {
    background-color: #766357;
}

.button--brown:hover,
.button--brown:focus {
    background-color: #604e43;
}

.button--brown:active {
    background-color: #503e33;
}

.button--blue {
    background-color: #81b3d2;
}

.button--blue:hover,
.button--blue:focus {
    background-color: #669ec0;
}

.button--blue:active {
    background-color: #5496bd;
}

/* Header */

.header__menu {
    list-style: none;
}

.header__menuLink {
    font-weight: 700;
    line-height: 26px;

    transition: color .3s;

    color: #000;
}

.header__menuLink:hover,
.header__menuLink:focus {
    color: #81b3d2;
}

.header__menuLink:focus {
    outline: none;
}

.header__menuLink:active {
    color: rgba(0, 0, 0, .3);
}

.header__menuLink--active {
    color: #766357;
}

/* Main */

/* Banner */

.banner {
    background-color: #81b3d2;
}

/* Advantages */

.advantages__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.advantages__subtitle {
    line-height: 26px;

    color: #333;
}

.advantages__list {
    list-style: none;
    text-align: center;
}

.advantages__card {
    background-color: #eeeeee;
}

.advantages__card--invert {
    background-color: #81b3d2;
}

.advantages__caption {
    font-size: 21px;
    font-weight: 700;
    line-height: 21;
}

.advantages__card--invert .advantages__caption,
.advantages__card--invert .advantages__number,
.advantages__card--invert .advantages__text {
    color: #ffffff;
}

.advantages__text {
    color: #333333;
    line-height: 21px;
}

.advantages__additional {
    list-style: none;
    text-align: center;
}

.advantages__additionalItem {
    
}

/* Search hotel */

.searchHotel__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.searchHotel__text {
    line-height: 24px;

    color: #333;
}

.searchHotel__button {
    font-size: 21px;
    line-height: 26px;
}

/* Search hotel form */

.searchHotelForm__label {
    font-weight: 700;
    line-height: 26px;
}

.searchHotelForm__input {
    transition: background-color .3s, border-color .3s;

    border: 2px solid transparent;
    background-color: #f2f2f2;
}

.searchHotelForm__input:hover {
    background-color: #ebebeb;
}

.searchHotelForm__input:focus {
    border-color: #e5e5e5;
    outline: none;
    background-color: #fff;
}

.searchHotelForm__input::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.searchHotelForm__input:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.searchHotelForm__input::-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.searchHotelForm__input::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.searchHotelForm__submit {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

/* Footer */

.footer__contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.footer__contactsLink {
    transition: color .3s;

    color: #000;
}

.footer__contactsLink:hover,
.footer__contactsLink:focus {
    color: #81b3d2;
}

.footer__contactsLink:active {
    color: rgba(0, 0, 0, .3);
}

.footer__dev {
    line-height: 26px;
}

.footer__devLink {
    color: #000;
}

/* Page Inner */

/* Filters hotels */

.filtersHotels {
    background-color: #4a769a;
    background-image: url('../img/filter-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 220px;
}

.filtersHotels__legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    color: #fff;
}

.filtersHotels__list {
    list-style: none;
}

.filtersHotels__label {
    line-height: 21px;

    color: #fff;
}

.filtersHotels__input {
    line-height: 21px;

    color: #fff;
}

.filtersHotels__submit {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    line-height: 21px;

    transition: color 0.3s, background-color 0.3s;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}

.filtersHotels__submit:hover,
.filtersHotels__submit:focus {
    color: #000;
    background-color: #fff;
}

.filtersHotels__submit:focus {
    outline: none;
}

/* Sorting hotels */

.sortingHotels__amount,
.sortingHotels__number {
    font-size: 21px;
    font-weight: 700;
}

.sortingHotels__title {
    font-size: 12px;
    line-height: 18px;
}

.sortingHotels__options {
    list-style: none;
}

.sortingHotels__optionsName {
    font-size: 12px;
    line-height: 18px;

    transition: color .3s;

    color: rgba(0, 0, 0, .3);
}

.sortingHotels__optionsName:hover,
.sortingHotels__optionsName:focus,
.sortingHotels__optionsName--active {
    color: #81b3d2;
}

.sortingHotels__optionsName:active {
    color: #000;
}

.sortingHotels__grade {
    list-style: none;
}

/* Search results */
.searchResults__list {
    list-style: none;
}

.hotelCard__img {
    background-color: #81b3d2;
}

.hotelCard__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.hotelCard__titleLink {
    transition: color .3s;

    color: #000;
}

.hotelCard__titleLink:hover,
.hotelCard__titleLink:focus {
    color: #81b3d2;
}

.hotelCard__titleLink:active {
    color: rgba(0, 0, 0, .3);
}

.hotelCard__type,
.hotelCard__price {
    line-height: 21px;

    color: #333;
}

.hotelCard__button {
    font-size: 21px;
    line-height: 26px;
}

.hotelCard__value {
    line-height: 21px;

    color: #666;
    background-color: #f2f2f2;
}
